*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    /* background-color: #36ba98; */

    /* gradient code start 
    background: hsla(165, 55%, 47%, 1);

background: linear-gradient(90deg, hsla(165, 55%, 47%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(165, 55%, 47%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(165, 55%, 47%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#36BA98", endColorstr="#0B3866", GradientType=1 );
     gradient code ends */
    
     background-image: url(https://images.unsplash.com/photo-1527784281695-866fa715d9d8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}
body, .container, .content-box{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    /* background-color: white; */
   /* start */

   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   

   /* end */


    width: 440px;
    border-radius: 10px;
    padding: 30px 30px 38px;
    flex-direction: column;
    box-shadow: 7px 7px 7px;
}
.container img{
    max-width: 103px;
}
.container h1{
    font-size: 38px;
    font-weight: 600;
    margin: 30px 0px;
}
.container .content-box{
    width: 100%;
    justify-content: space-between;
}
.container .content-box.disabled{
    opacity: 0.6;
    pointer-events: none;
}
.content-box .column{
    border: 1px solid #999;
    padding: 0px 10px;
    border-radius: 5px;
    width: calc(100%/3 - 5px);
}
.column select{
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 19px;
}
.container button{
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 17px 0px;
    font-size: 20px;
    background-color: #36ba98;
    color: white;
    border-radius: 10px;
    
}

.container button:hover {
    background-color: #36ba98;
    box-shadow: 7px 7px 7px black;
    color: black;
}


